<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Création de Reporting</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Ajout de l'import jQuery -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> <!-- Ajout de jQuery UI si nécessaire -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> <!-- Style pour jQuery UI -->
    </head>
<body>
    <nav class="bg-gray-100 p-4 shadow">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-lg font-semibold text-gray-700">Wallet Tracker</a>
            <div>
                <ul class="flex space-x-4">
                    <li><a href="/fonds" class="text-gray-700 hover:text-gray-900">Fonds</a></li>
                    <li><a href="/instruments" class="text-gray-700 hover:text-gray-900">Instruments</a></li>
                    <li><a href="/create_template" class="text-gray-700 hover:text-gray-900">Créer un Template</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mx-auto mt-8">
        <h1 class="text-2xl font-bold">Création de Reporting</h1>

        <!-- Menu -->
        <div class="inline-flex justify-start w-full items-center gap-2 mt-4">
            <!-- Définition des classes -->
             
            <div class="relative w-[450px] ml-2">
                <input class="border rounded-md p-2 text-gray-900 bg-transparent border-gray-300 appearance-none text-sm focus:outline-none focus:ring-0 focus:border-sky-600 focus:shadow-md cursor-pointer select-none dropdown-toggle text-left peer w-full" 
                       type="text" id="selected_template" readonly required placeholder="">
                
                <div id="templateDropdown" class="dropdown-menu absolute z-10 scale-100 transform ease-in-out duration-100 bg-white w-full border rounded-md shadow-2xl max-h-80 overflow-auto hidden">
                    <div class="relative flex flex-col justify-items-stretch">
                        <div class="sticky top-1 text-xs m-1 bg-white z-10 shadow-sm rounded-md">
                            <div class="relative rounded-t-md">
                                <input id="search_template" class="p-1 pl-7 bg-transparent border rounded-t-md focus:outline-none focus:border-sky-600 z-10 w-full" 
                                       type="search" placeholder="Rechercher un template">
                                <span class="absolute top-0 left-0 p-1 -z-10 pl-2 text-gray-400">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </div>
                        </div>
                        <div id="template_list" class="flex flex-col">
                        </div>
                    </div>
                </div>
                <label class="absolute origin-top-left -top-2 left-0 scale-75 bg-white ml-2 px-1 text-gray-500 transform duration-300 ease-in-out text-nowrap invisible peer-[.visible]:visible peer-placeholder-shown:translate-y-4 peer-placeholder-shown:scale-100 peer-placeholder-shown:-z-10 peer-placeholder-shown:font-normal peer-placeholder-shown:text-gray-500 peer-placeholder-shown:ml-1.5 peer-focus:z-10 peer-focus:bg-white peer-focus:scale-75 peer-focus:ml-2 peer-focus:text-sky-600 peer-focus:translate-y-0">
                    <span>Templates</span>
                </label>
            </div>
        </div>

        <!-- Container pour l'affichage du reporting -->
        <div class="flex gap-4 mt-6">
            <div id="a4-container" class="border border-gray-400 bg-white w-[210mm] h-[297mm] m-4 relative overflow-hidden">
            </div>

            <div id="blocks-container" class="w-1/4 p-4 border-l border-gray-300 overflow-y-auto h-[297mm]">
            </div>
        </div>
        <div id="pagination-controls" class="flex justify-center mt-4 gap-2">
            <button id="prev-page" class="bg-gray-300 px-3 py-1 rounded disabled:opacity-50" disabled>Précédent</button>
            <span id="current-page">Page 1</span>
            <button id="next-page" class="bg-gray-300 px-3 py-1 rounded">Suivant</button>
        </div>
    </div>

    <script src="/static/js/create_template.js"></script>
</body>
</html>
